
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-wallet:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-twitter-bird:before { content: '\e802'; } /* '' */
.icon-googleplus-rect:before { content: '\e804'; } /* '' */
.icon-yandex:before { content: '\e805'; } /* '' */
.icon-yandex-rect:before { content: '\e809'; } /* '' */
.icon-vkontakte-rect:before { content: '\e806'; } /* '' */
.icon-facebook-rect:before { content: '\e803'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\e808'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-note:before { content: '\e80d'; } /* '' */
.icon-fire:before { content: '\e80e'; } /* '' */
.icon-odnoklassniki:before { content: '\e807'; } /* '' */